@import "../settings";

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        color: yellowgreen;
        padding: 25px;
    }
    input{
        width: 250px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        border: 1px solid gray;
        margin-bottom: 50px;
    }
}